.bubble {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #6bafca;
    opacity: 0.9;
    animation: bubble1-h-movement 1s ease-in infinite, bubble1-v-movement 300ms ease-in-out infinite alternate, bubble-scale-movement 300ms ease-in-out infinite alternate;
}

.bubble:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: lighten(#306D85, 25%);
    opacity: 0.9;
}

.bubble:after {
  top: -20px;
  left:100px;
  width: 9px;
  height: 9px;
}

.circle-wrapper {
    position: relative;
    width:300px;
    height:300px;
    margin: 10px auto 0 auto;
    overflow: hidden;
    z-index: 0;
    border-radius:50%;
    padding: 0 50px 0 50px;
    border: 6px solid lighten(#306D85, 10%);
}

.submarine-wrapper {
    height: 300px;
    width: 300px;
    padding: 30px 50px 30px 150px;
    margin: 0 auto 0 auto;
    animation: diving 3s ease-in-out infinite, diving-rotate 3s ease-in-out infinite;
}

.submarine-body {
    width: 150px;
    height: 80px;
    position: absolute;
    margin-top: 50px;
    left: 25px;
    background-color: #D93A54;
    border-radius: 40px;
    background: linear-gradient(#D93A54, #bc243d);
}

.light {
     position:absolute;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 0 40px 150px 40px;
     border-color: transparent transparent #377c98 transparent;
     transform: rotate(-50deg);
    top:40px;
    left:99%;
}

.light:after {
    content:"";
    position: absolute;
    width: 20px;
    height:13px;
    border-radius:5px;
    background-color: #d12844;
    margin-left:-10px;
}

.submarine-body .window {
    width: 37px;
    height: 37px;
    position: absolute;
    margin-top: 23px;
    right: 18px;
    background: linear-gradient(darken(#1e4554, 13%), darken(#183642, 18%));
    border-radius: 50%;
    border: 3px solid #D93A54;
}

.submarine-body .window:after {
  content: "";
  position: absolute;
  margin-top:3px;
  margin-left:3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  opacity:0.8;
  border-top:3px solid white;
  transform:rotate(-45deg);
}

.engine {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 35px;
    left: 50px;
    background-color: #bc243d;
    border-radius: 50%;
    border: 5px solid #D93A54;
}

.engine:after, .engine:before {
   position: absolute;
   content: "";
   border-radius: 2px;
   background-color: white;
   animation:engine-spin 900ms linear infinite;
   opacity:0.8;
}
.engine:after {
   top:8px;
   width: 20px;
   height: 4px;
}
.engine:before {
   left:8px;
   width: 4px;
   height: 20px;
}

.helix {
   width: 30px;
   height: 70px;
   position: absolute;
   margin-top: 55px;
   left:0;
   background-color: #D93A54;
   border-radius: 7px;
  background: linear-gradient(#D93A54, #bc243d);
}

.helix:after {
    content: "";
    position: absolute;
    margin-top:5px;
    margin-left:7px;
    width: 17px;
    height: 60px;
    border-radius: 3px;
    background-color: transparent;
    opacity:0.8;
    background: linear-gradient(to bottom, #D93A54, #D93A54 50%, #e57a8c 50%, #e57a8c);
    background-size: 100% 20px;
    animation:helix-movement 110ms linear infinite;
}

.hat {
   width: 65px;
   height: 25px;
   position: absolute;
   margin-top: 26px;
   left:70px;
   background-color: #D93A54;
   border-radius: 10px 10px 0 0;
   background: linear-gradient(#D93A54, #d72d49);
}

.periscope {
    position: absolute;
    width: 7px;
    height: 20px;
    background-color: #D93A54;
    margin-top: -27px;
    margin-left:32px;
    border-radius:5px 5px 0 0;
}

.periscope:after, .periscope:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 7px;
    border-radius: 5px;
    background-color: #D93A54;
}

.leds-wrapper {
   width: 53px;
   height: 13px;
   position: relative;
   top:7px;
   left:7px;
   background-color: #D93A54;
   border-radius: 10px;
   background: linear-gradient(#b3233a, #a21f35);
}

.leds {
    position: absolute;
    margin-top:4px;
    margin-left:7px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    animation:leds-off 500ms linear infinite;
}

.leds:after, .leds:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
}
.leds:after {
    margin-top:0px;
    margin-left:17px;
}
.leds:before {
    margin-top:0px;
    margin-left:34px;
}
